# dependencies
node_modules

# next.js build output
.next
out

# vcs
.git
.gitignore

# docker
Dockerfile
.dockerignore

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
pnpm-lock.yaml
**/.env*
.env*
*.local
**/.next/cache
